<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.schmidthappens.markd">

    <!-- Necessary to perform network access. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Used to get from gallery or take picture -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <!-- Necessary permission to use phone -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- Necessary permission to get list of accounts on the device -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_markd"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Splash Image Page -->
        <activity android:name=".account_authentication.SplashImageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Page -->
        <activity android:name=".account_authentication.LoginActivity"/>

    <!-- Customer Pages -->
        <!-- Main Page -->
        <activity android:name=".customer_menu_activities.MainActivity"/>

        <!-- Plumbing -->
        <activity
            android:name=".customer_menu_activities.PlumbingActivity"
            android:value=".MenuOptionActivities.PlumbingActivity"/>
        <!-- Plumbing Sub-Activities -->
        <activity
            android:name=".customer_subactivities.ApplianceEditActivity"
            android:parentActivityName=".customer_menu_activities.PlumbingActivity"
            android:value=".plumbing_subactivities.PlumbingEditActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".customer_menu_activities.PlumbingActivity" />
        </activity>
        <!-- HVAC -->
        <activity
            android:name=".customer_menu_activities.HvacActivity"
            android:value=".MenuOptionActivities.HvacActivity"/>
        <!-- Hvac Sub-Activities -->

        <!-- Electrical -->
        <activity
            android:name=".customer_menu_activities.ElectricalActivity"
            android:value=".MenuOptionActivities.ElectricalActivity"/>
        <!-- Electrical Sub-Activities -->
        <activity
            android:name=".electrical_subactivities.ViewPanelActivity"
            android:value=".MenuOptionActivities.ViewPanelActivity" />
        <activity
            android:name=".electrical_subactivities.BreakerDetailActivity"
            android:parentActivityName=".electrical_subactivities.ViewPanelActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".electrical_subactivities.PanelDetailActivity" />
        </activity>
        <activity
            android:name=".electrical_subactivities.PanelDetailActivity"
            android:parentActivityName=".electrical_subactivities.ViewPanelActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".electrical_subactivities.ViewPanelActivity" />
        </activity>

        <!-- Landscaping -->
        <activity
            android:name=".customer_menu_activities.LandscapingActivity"
            android:value=".MenuOptionActivities.LandscapingActivity"/>

        <!-- Painting -->
        <activity
            android:name=".customer_menu_activities.PaintingActivity"
            android:value=".menu_option_activities.PaintingActivity"/>
        <!-- Paint Sub-Activities -->
        <activity
            android:name=".customer_subactivities.PaintEditActivity"
            android:parentActivityName=".customer_menu_activities.PaintingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".electrical_subactivities.ViewPanelActivity" />
        </activity>

        <activity android:name=".view_initializers.ServiceDetailActivity" />

        <!-- Settings -->
        <activity android:name=".customer_menu_activities.SettingsActivity"
            android:value=".customer_menu_activities.SettingsActivity" />
        <activity android:name=".customer_subactivities.ProfileEditActivity"
                android:value=".customer_subactivities.ProfileEditActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".customer_menu_activities.SettingsActivity"/>
        </activity>
        <activity android:name=".customer_subactivities.HomeEditActivity"
            android:value=".customer_subactivities.HomeEditActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".customer_menu_activities.SettingsActivity"/>
        </activity>
        <activity android:name=".customer_subactivities.ChangeContractorActivity"
            android:value=".customer_subactivities.ChangeContractorActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".customer_menu_activities.SettingsActivity"/>
        </activity>

     <!-- Contractor Pages -->
        <activity
            android:name=".contractor_user_activities.ContractorMainActivity"
            android:value=".contractor_user_activities.ContractorMainActivity"/>
        <activity android:name=".contractor_user_activities.ContractorEditActivity"
            android:value=".contractor_user_activities.ContractorEditActivity"
            android:parentActivityName=".contractor_user_activities.ContractorMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".contractor_user_activities.ContractorMainActivity" />
        </activity>
        <activity android:name=".contractor_user_activities.ContractorCustomersActivity"
            android:value=".contractor_user_activities.ContractorCustomersActivity" />
    </application>

</manifest>