<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.schmidthappens.markd">

    <!-- Necessary to perform network access. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Used to get from gallery or take picture -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <!-- Necessary permission to use phone -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- Necessary permission to get list of accounts on the device -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />


    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_markd"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Splash Image Page -->
        <activity android:name=".account_authentication.SplashImageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Page -->
        <activity android:name=".account_authentication.LoginActivity"
            android:launchMode="singleTop"/>

    <!-- Customer Pages -->
        <!-- Main Page -->
        <activity android:name=".customer_menu_activities.MainActivity"/>

        <!-- Plumbing -->
        <activity
            android:name=".customer_menu_activities.PlumbingActivity"
            android:value=".MenuOptionActivities.PlumbingActivity"
            android:launchMode="singleTop"/>
        <!-- Plumbing Sub-Activities -->
        <activity
            android:name=".customer_subactivities.ApplianceEditActivity"
            android:parentActivityName=".customer_menu_activities.PlumbingActivity"
            android:value=".plumbing_subactivities.PlumbingEditActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".customer_menu_activities.PlumbingActivity" />
        </activity>
        <!-- HVAC -->
        <activity
            android:name=".customer_menu_activities.HvacActivity"
            android:value=".MenuOptionActivities.HvacActivity"
            android:launchMode="singleTop"/>
        <!-- Hvac Sub-Activities -->

        <!-- Electrical -->
        <activity
            android:name=".customer_menu_activities.ElectricalActivity"
            android:value=".MenuOptionActivities.ElectricalActivity"
            android:launchMode="singleTop"/>
        <!-- Electrical Sub-Activities -->
        <activity
            android:name=".customer_subactivities.ViewPanelActivity"
            android:value=".MenuOptionActivities.ViewPanelActivity" />
        <activity
            android:name=".customer_subactivities.BreakerDetailActivity"
            android:parentActivityName=".customer_subactivities.ViewPanelActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".customer_subactivities.PanelDetailActivity" />
        </activity>
        <activity
            android:name=".customer_subactivities.PanelDetailActivity"
            android:parentActivityName=".customer_subactivities.ViewPanelActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".customer_subactivities.ViewPanelActivity" />
        </activity>
        <!-- Painting -->
        <activity
            android:name=".customer_menu_activities.PaintingActivity"
            android:value=".menu_option_activities.PaintingActivity"
            android:launchMode="singleTop"/>
        <!-- Paint Sub-Activities -->
        <activity
            android:name=".customer_subactivities.PaintEditActivity"
            android:parentActivityName=".customer_menu_activities.PaintingActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".customer_subactivities.ViewPanelActivity" />
        </activity>

        <!-- Notifications -->
        <activity
            android:name=".customer_menu_activities.NotificationsActivity"
            android:value=".customer_menu_activities.NotificationsActivity" />

        <activity android:name=".customer_subactivities.ServiceDetailActivity"
            android:value=".customer_subactivities.ServiceDetailActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".customer_subactivities.ServiceFileDetailActivity"
            android:value=".customer_subactivities.ServiceImageActivity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".customer_subactivities.ServiceDetailActivity"/>
        </activity>

        <!-- Settings -->
        <activity android:name=".customer_menu_activities.SettingsActivity"
            android:value=".customer_menu_activities.SettingsActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".customer_subactivities.ProfileEditActivity"
                android:value=".customer_subactivities.ProfileEditActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".customer_menu_activities.SettingsActivity"/>
        </activity>
        <activity android:name=".customer_subactivities.HomeEditActivity"
            android:value=".customer_subactivities.HomeEditActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".customer_menu_activities.SettingsActivity"/>
        </activity>
        <activity android:name=".customer_subactivities.ChangeContractorActivity"
            android:value=".customer_subactivities.ChangeContractorActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".customer_menu_activities.SettingsActivity"/>
        </activity>

        <!-- Help -->
        <activity android:name=".customer_menu_activities.HelpActivity"
            android:value=".customer_menu_activities.HelpActivity"
            android:launchMode="singleTop" />

     <!-- Contractor Pages -->
        <activity
            android:name=".contractor_user_activities.ContractorMainActivity"
            android:value=".contractor_user_activities.ContractorMainActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".contractor_user_activities.ContractorEditActivity"
            android:value=".contractor_user_activities.ContractorEditActivity"
            android:parentActivityName=".contractor_user_activities.ContractorMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".contractor_user_activities.ContractorMainActivity" />
        </activity>
        <activity android:name=".contractor_user_activities.ContractorCustomersActivity"
            android:value=".contractor_user_activities.ContractorCustomersActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".contractor_user_activities.SendNotificationsActivity"
            android:value=".contractor_user_activities.SendNotificationsActivity"
            android:parentActivityName=".contractor_user_activities.ContractorCustomersActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".contractor_user_activities.ContractorCustomersActivity" />
        </activity>
        <activity
            android:name=".contractor_user_activities.ContractorSettingsActivity"
            android:value=".contractor_user_activities.ContractorSettingsActivity"
            android:launchMode="singleTop"/>

        <!-- FCM Messaging -->
        <service android:name=".firebase_cloud_messaging.MarkdFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name=".firebase_cloud_messaging.MarkdFirebaseInstanceIDService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
            See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_contractor_notification" />

        <!-- FileProvider Configuration -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.schmidthappens.markd.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>