<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.schmidthappens.markd">

    <!-- Necessary to perform network access. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Used to get from gallery or take picture -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <!--Necessary permission to use phone-->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_markd"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MenuOptionActivities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MenuOptionActivities.ViewPanelActivity"
            android:value=".MenuOptionActivities.ViewPanelActivity"/>
        <activity
            android:name=".BreakerDetailActivity"
            android:parentActivityName=".MenuOptionActivities.ViewPanelActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PanelDetailActivity" />
        </activity>
        <activity
            android:name=".PanelDetailActivity"
            android:parentActivityName=".MenuOptionActivities.ViewPanelActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuOptionActivities.ViewPanelActivity" />
        </activity>
        <activity android:name=".MenuOptionActivities.ElectricalActivity"
            android:value=".MenuOptionActivities.ElectricalActivity">
         </activity>
    </application>

</manifest>